{% extends "base.html" %}

{% block content %}
    <section class="blog">
        <h2>Последние статьи</h2>

        <div class="post">
            <h3>Психология успеха в спорте</h3>
            <p>Как внутреннее состояние влияет на результаты тренировок?</p>
            <a href="#" class="btn">Читать</a>
        </div>

        <div class="post">
            <h3>Зимние тренировки на батуте</h3>
            <p>Как поддерживать форму и развивать технику вне сезона?</p>
            <a href="#" class="btn">Читать</a>
        </div>
    </section>
{% endblock %}
