{% extends "base.html" %}

{% block content %}
    <section class="contact">
        <h2>Давайте знакомиться</h2>
        <p>Оставьте заявку, и мы перезвоним вам.</p>

        <form action="{{ url_for('contact.contact') }}" method="post">
            {{ form.csrf_token }}
            <label for="name">Ваше имя:</label>
            {{ form.name(id="name", required=True) }}

            <label for="email">Email или Telegram:</label>
            {{ form.email(id="email", required=True, placeholder="@MyW23") }}

            <label for="message">Сообщение:</label>
            {{ form.message(id="message", required=True) }}

            <button type="submit" class="btn btn-primary-lg">Отправить</button>
        </form>
    </section>
{% endblock %}
